<!-- Icon Boxes 4 -->
		<div class="bg-grey">
			<div class="container content-sm">
				<!-- Default Content Boxes -->
				<div class="row content-boxes-v2 content-boxes-v2-o margin-bottom-40">
					<div class="col-sm-4 sm-margin-bottom-40">
						<h2 class="heading-sm overflow-h">
							<i class="icon-custom rounded-x icon-bg-u fa fa-lightbulb-o"></i>
							<span>DEFAULT SIZE <small>Simply dummy text of the printing</small></span>
						</h2>
						<hr class="no-margin margin-bottom-10">
						<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's consectetur adipisicing elit</p>
					</div>
					<div class="col-sm-4 sm-margin-bottom-40">
						<h2 class="heading-sm overflow-h">
							<i class="icon-custom rounded-x icon-bg-blue fa fa-bullhorn"></i>
							<span>DEFAULT SIZE <small>Simply dummy text of the printing</small></span>
						</h2>
						<hr class="no-margin margin-bottom-10">
						<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's consectetur adipisicing elit</p>
					</div>
					<div class="col-sm-4">
						<h2 class="heading-sm overflow-h">
							<i class="icon-custom rounded-x icon-bg-red icon-line icon-rocket"></i>
							<span>DEFAULT SIZE <small>Simply dummy text of the printing</small></span>
						</h2>
						<hr class="no-margin margin-bottom-10">
						<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's consectetur adipisicing elit</p>
					</div>
				</div>
				<!-- End Default Content Boxes -->

				<!-- Default Content Boxes -->
				<div class="row content-boxes-v2 content-boxes-v2-o">
					<div class="col-sm-4 sm-margin-bottom-40">
						<h2 class="heading-sm overflow-h">
							<i class="icon-custom rounded-x icon-color-u fa fa-lightbulb-o"></i>
							<span>DEFAULT SIZE <small>Simply dummy text of the printing</small></span>
						</h2>
						<hr class="no-margin margin-bottom-10">
						<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's consectetur adipisicing elit</p>
					</div>
					<div class="col-sm-4 sm-margin-bottom-40">
						<h2 class="heading-sm overflow-h">
							<i class="icon-custom rounded-x icon-color-blue fa fa-bullhorn"></i>
							<span>DEFAULT SIZE <small>Simply dummy text of the printing</small></span>
						</h2>
						<hr class="no-margin margin-bottom-10">
						<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's consectetur adipisicing elit</p>
					</div>
					<div class="col-sm-4">
						<h2 class="heading-sm overflow-h">
							<i class="icon-custom rounded-x icon-color-red icon-line icon-rocket"></i>
							<span>DEFAULT SIZE <small>Simply dummy text of the printing</small></span>
						</h2>
						<hr class="no-margin margin-bottom-10">
						<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's consectetur adipisicing elit</p>
					</div>
				</div>
				<!-- End Default Content Boxes -->
			</div>
		</div>
		<!-- End Icon Boxes 4 -->