{% load staticfiles %}
<!--=== Testimonials v6 ===-->
<div class="bg-color-light">
    <div class="container content-sm">
        <div class="headline-center margin-bottom-60">
            <h2>About Us</h2>
            <p>
                It is not unheard of the struggle each student has to get through while preparing and applying for higher studies, especially to a foreign country.
                As a responsible and sympathetic part of the community, we intend to help students to cope with this problem and help them answer some basic question related to decision and planning, preparing for standard examinations,  applying for admission and survival guideline when time comes to actually be in the premise/university/foreign country.
                Primarily our website is going to provide basic suggestion and reference tools for better preparation for standard tests, tips for admission application, communication with professors, writing tips for convincing and powerful Statement of Purpose (SOP) and resumes etc.
                We are also going to provide free Skype session for students interested in one-to-one consultation to be able to address more specific questions.
                It is our motto to aid students to have the best answer for their questions that will aid in their higher studies and better future.
            </p>
        </div>
        </div><!--/end container-->
    </div>
<!--=== End Testimonials v6 ===-->