{% extends "common/base.html" %}
{% load staticfiles %}
{% block content %}
    <div class="container content-sm">
        <div class="row">
            <div class="col-md-4 ">
                <div class="margin-bottom-45">
                    <img class="img-responsive" src="{% static 'img/decision_making3.jpg' %}" alt="">
                </div>
                <div class="margin-bottom-45">
                    <p>Before going further please go through the video by
                        Dan Gilbert who is talking about
                        <strong>“Why we make bad decision?”</strong>
                    </p>
                    <!-- 16:9 aspect ratio -->
                    <div class="embed-responsive embed-responsive-16by9">
                        <iframe class="embed-responsive-item" webkitAllowFullScreen mozallowfullscreen allowFullScreen
                                src="https://embed-ssl.ted.com/talks/dan_gilbert_researches_happiness.html"></iframe>
                    </div>
                </div>
                <div class="margin-bottom-45">
                    <p>Here another Philosopher Ruth Chang is talking about
                        <strong>“How to make Hard Choices”</strong>
                    </p>
                    <!-- 16:9 aspect ratio -->
                    <div class="embed-responsive embed-responsive-16by9">
                        <iframe class="embed-responsive-item" webkitAllowFullScreen mozallowfullscreen allowFullScreen
                                src="https://embed-ssl.ted.com/talks/ruth_chang_how_to_make_hard_choices.html"></iframe>
                    </div>
                </div>
            </div>
            <div class="col-md-8">
                <div class="headline-left margin-bottom-30">
                    <h2 class="headline-brd">Decesion Making!</h2>
                    <ul class="list-unstyled lists-v2 margin-bottom-30">
                        <li class="bullet-point"><i class="fa  fa-check"></i>
                            Is it really necessary to go abroad for higher study?
                            Some thinks it’s really necessary and some are not!
                        </li>
                        <li class="bullet-point"><i class="fa  fa-check"></i>
                            Going abroad leaving known environment always been a hard choice.
                            But this also a great opportunity.
                        </li>
                        <li class="bullet-point"><i class="fa  fa-check"></i>
                            Higher study is not only for monetary benefit. Moreover, pursuing your higher degree in
                            abroad
                            will give you the chance to see the unseen - a new place,
                            and a new community will definitely give you the feeling of being a part of globalism.
                        </li>
                        <li class="bullet-point"><i class="fa  fa-check"></i>
                            It’s ok that many students want to stay at home. Well, you can do a lot of thing for your
                            country.
                        </li>

                    </ul>

                    <p>
                        No doubt, taking the right decision is the first thing you should do in every step of our lives.
                        No matter what it is about, whether it is about choosing the right course for your undergraduate
                        study or about the right track of your career, you got to step forward by making a valid
                        judgment. Further importance of making the right decision can be elaborated intensely, but, at
                        this point, we want to focus on whether you should make the call of Higher Study! <br><br>

                        Well, now we would like to tell you that think wisely, to become a successful person you might
                        not need to overcome the hurdle of higher study. Look around; there are absolutely many examples
                        of world's leading personnel who are college drop outs! Yet, think the possibility beyond your
                        imagination, the facilities of learning the latest trends of technology in the world's leading
                        institute. Think how it will be if you are conducting the leading research on Stanford’s
                        laboratory? Is it thrilling? Well, it should be, we all are fascinated by the possibility that
                        we can become someone who is able to make a change in this world. But keep in mind, only
                        thrilled by this fascination won't help you. You got to be strong to conquer the hurdles and
                        ready to take the challenges. We think there is absolutely no one who can give you the answer to
                        your question - Should I go for higher study; it should be you who is answering this very
                        question! <br><br>

                        At this point, we would like to focus on how people around us think about Higher Study. Though
                        we firmly believe that you are the maker of your future - people do absolutely have no right to
                        make a hindrance on your way, but sometimes, the experience, care, and love from our beloved
                        ones do help us to find the right spot of our destination. Many of us at first, like to conclude
                        that we should pursue higher degrees emphasizing on the monetary benefits. Though higher degrees
                        can lead you to find a higher paying job, other aspects are important too. These very people
                        won't mind changing their conclusion remarks if the broader sides of Higher Study are
                        elaborated. When it is about learning the unknowns its human nature to become enthusiastic.
                        Higher Study can enhance this practice, by learning new concepts, sharing your thoughts, and
                        even correcting your misconception can lead you to become a complete person. Though the whole
                        world is your learning school, your thirst for knowledge can be fulfilled by enhancing your
                        learning and higher study will, no doubt, add fuel to this firmness. Moreover, pursuing your
                        higher degree in abroad will give you the chance to see the unseen - a new place, and a new
                        community will definitely give you the feeling of being a part of globalism. Your imagination,
                        dreams, and the boundary of works will be extended to the betterment of the whole world.
                        Besides, we firmly believe Higher Study will entrench your self-belief that what you can
                        imagine, you can also achieve it. Benefits of Higher Study can't just be bounded to these
                        aspects; it can surely be a new beginning of your life. <br><br>

                        Now, if you have made the decision of pursuing your higher study in abroad, you should, at this
                        point, think about the right country and university to get an optimum result of all of your
                        struggles. Primarily, we believe, you should set your target as per your own interest. Though
                        USA is an ultimate destination for many students, it needs not to be true for every course and
                        program. Other countries and continents like - Australia, Europe or Asia might have the best
                        research facilities of your intended program, nonetheless, USA's research facilities, in almost
                        every sector, are world class and in the leading position. You might have seen that a bunch of
                        countries in Europe along with Australia, are conducting the leading research on Photonics;
                        South Korea is a heaven for Wireless Communication. (Here is a good list of world's best
                        universities with good research facilities.) However, the program requirement varies country to
                        country - some countries like Australia, want an excellent academic record while selecting their
                        graduate students. For USA, on the other hand, the academic result is much flexible, though you
                        might have to take some additional standardized tests. Each year, thousands of students are
                        moving to USA to complete their graduate studies, among which many have lower academic results,
                        yet, they are being able to pursue their desired degrees as universities of USA believe the
                        academic result is not the only parameter to judge the potentiality of a student.<br><br>

                        Last but not the least, we believe, if you don't want to go abroad and yet are adamant to do
                        something innovative in your country, hope is not entirely gone. You can still do good works for
                        your country. If you have the opportunity to work in research and development (R&D) unit or any
                        other units that require innovative ideas, challenges, and hard works, you can settle your
                        career in those fields. It will, at least, help you to learn new things, build up new concepts.
                        However, we think, you will have to go through the learning process and to compete globally; you
                        will have to comprehend the latest trends that are being conducted on the other parts of the
                        globe!
                    </p>
                </div>
            </div><!--/end row-->
        </div>
    </div>
{% endblock %}