{% load staticfiles %}
<!-- Portfolio Box -->
		<!-- This block requires Fancybox plugin -->
		<div class="container content-md" style="padding-top: 20px; padding-bottom: 10px;">
			<ul class="list-unstyled row portfolio-box">
				<li class="col-sm-3 md-margin-bottom-50">
                    <div class="thumbnail-img">
                        <img class="img-responsive" src="{% static 'home/1.jpg' %}" alt="" style="height: 180px">
                    </div>
					<div class="headline-left margin-bottom-10"><h3 class="headline-brd">Decision making</h3></div>
					<p>Am I  ready to apply? What do I need to decide? </p>
				</li>
				<li class="col-sm-3 md-margin-bottom-50">
					<div class="thumbnail-img">
                        <img class="img-responsive" src="{% static 'home/2.jpg' %}" alt="" style="height: 180px">
                    </div>
					<div class="headline-left margin-bottom-10"><h3 class="headline-brd">Preparation</h3></div>
					<p>What tools do I need at my hand before applying?</p>
				</li>
				<li class="col-sm-3">
					<div class="thumbnail-img">
                        <img class="img-responsive" src="{% static 'home/3.jpg' %}" alt="" style="height: 180px">
                    </div>
					<div class="headline-left margin-bottom-10"><h3 class="headline-brd">Standard Exam</h3></div>
					<p>Help preparing for GRE, IELTS and TOEFL.</p>
				</li>
                <li class="col-sm-3 md-margin-bottom-50">
                    <div class="thumbnail-img">
                        <img class="img-responsive" src="{% static 'home/4.jpg' %}" alt="" style="height: 180px">
                    </div>
					<div class="headline-left margin-bottom-10"><h3 class="headline-brd">Application</h3></div>
                    <p>How to apply? What documents are needed? Whom should I email? </p>
				</li>
			</ul>
		</div>
        <div class="container content-md" style="padding-top: 0px; padding-bottom: 10px;">
			<ul class="list-unstyled row portfolio-box">
                <li class="col-sm-3 md-margin-bottom-50">
					<div class="thumbnail-img">
                        <img class="img-responsive" src="{% static 'home/5.jpg' %}" alt="" style="height: 180px">
                    </div>
					<div class="headline-left margin-bottom-10"><h3 class="headline-brd">Going abroad</h3></div>
					<p>I have got the admission letter- now what?</p>
				</li>
				<li class="col-sm-3">
					<div class="thumbnail-img">
                        <img class="img-responsive" src="{% static 'home/6.jpg' %}" alt="" style="height: 180px">
                    </div>
					<div class="headline-left margin-bottom-10"><h3 class="headline-brd">What’s the first thing to do after coming abroad</h3></div>
					<p>How to survive in the unknown country and culture?</p>
				</li>
                <li class="col-sm-3 md-margin-bottom-50">
                    <div class="thumbnail-img">
                        <img class="img-responsive" src="{% static 'home/7.jpg' %}" alt="" style="height: 180px">
                    </div>
					<div class="headline-left margin-bottom-10"><h3 class="headline-brd">Review your SOP</h3></div>
                    <p>Making an impression on the admission review committee.</p>
				</li>
                <li class="col-sm-3 md-margin-bottom-50">
					<div class="thumbnail-img">
                        <img class="img-responsive" src="{% static 'home/8.jpg' %}" alt="" style="height: 180px">
                    </div>
					<div class="headline-left margin-bottom-10"><h3 class="headline-brd">Join our Skype Q&A session</h3></div>
					<p> I have questions and could not find the answer.
                        Who can help me with that? Join our Skype Q&A session. Our advisors will answer your question.
                    </p>
				</li>
			</ul>
		</div>

		<!-- End Portfolio Box -->