{% load staticfiles %}
<!--=== Team Section with Parallax ===-->
<!--
	Requires Parallax plugin and js file should be linked
-->
<div class="parallax-team parallaxBg">
    <div class="headline-center margin-bottom-60 news-heading">
        <h2 style="width: 340px;margin-left: 35%;">Meet Our High Profile Advisors</h2>
        <p>Phasellus vitae ipsum ex. Etiam eu vestibulum ante. <br>
            Lorem ipsum <strong>dolor</strong> sit amet, consectetur adipiscing elit. Morbi libero libero, imperdiet fringilla </p>
    </div>
    <div class="container content-md" style="padding-top: 0px; padding-bottom: 10px;">
        <div class="row">
            <!-- Team v2 -->
            <div class="col-md-3 col-sm-6">
                <div class="team-v2 no-margin-bottom">
                    <!--img class="img-responsive" src="assets/img/team/img15-md.jpg" alt=""-->
                     <img class="img-responsive" src="{% static 'unify_assets/img/testimonials/img5.jpg' %}" alt="">
                    <div class="inner-team">
                        <h3>Jack Anderson</h3>
                        <small class="color-green">CEO, Chief Officer</small>
                        <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, justo sit amet risus etiam porta sem...</p>
                        <a href="#">Read More</a>
                        <hr>
                        <ul class="list-inline team-social">
                            <li>
                                <a data-placement="top" data-toggle="tooltip" class="fb tooltips" data-original-title="Facebook" href="#">
                                    <i class="fa fa-facebook"></i>
                                </a>
                            </li>
                            <li>
                                <a data-placement="top" data-toggle="tooltip" class="tw tooltips" data-original-title="Twitter" href="#">
                                    <i class="fa fa-twitter"></i>
                                </a>
                            </li>
                            <li>
                                <a data-placement="top" data-toggle="tooltip" class="gp tooltips" data-original-title="Google plus" href="#">
                                    <i class="fa fa-google-plus"></i>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <!-- End Team v2 -->

            <!-- Team v2 -->
            <div class="col-md-3 col-sm-6">
                <div class="team-v2 no-margin-bottom">
                    <!--img class="img-responsive" src="assets/img/team/img31-md.jpg" alt=""-->
                    <img class="img-responsive" src="{% static 'unify_assets/img/testimonials/img5.jpg' %}" alt="">
                    <div class="inner-team">
                        <h3>Kate Metus</h3>
                        <small class="color-green">Project Manager</small>
                        <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, justo sit amet risus etiam porta sem...</p>
                        <a href="#">Read More</a>
                        <hr>
                        <ul class="list-inline team-social">
                            <li><a data-placement="top" data-toggle="tooltip" class="fb tooltips" data-original-title="Facebook" href="#"><i class="fa fa-facebook"></i></a></li>
                            <li><a data-placement="top" data-toggle="tooltip" class="tw tooltips" data-original-title="Twitter" href="#"><i class="fa fa-twitter"></i></a></li>
                            <li><a data-placement="top" data-toggle="tooltip" class="gp tooltips" data-original-title="Google plus" href="#"><i class="fa fa-google-plus"></i></a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <!-- End Team v2 -->

            <!-- Team v2 -->
            <div class="col-md-3 col-sm-6">
                <div class="team-v2 no-margin-bottom">
                    <!--img class="img-responsive" src="assets/img/team/img29-md.jpg" alt=""-->
                    <img class="img-responsive" src="{% static 'unify_assets/img/testimonials/img6.jpg' %}" alt="">
                    <div class="inner-team">
                        <h3>David Loren</h3>
                        <small class="color-green">VP of Operations</small>
                        <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, justo sit amet risus etiam porta sem...</p>
                        <a href="#">Read More</a>
                        <hr>
                        <ul class="list-inline team-social">
                            <li>
                                <a data-placement="top" data-toggle="tooltip" class="fb tooltips" data-original-title="Facebook" href="#">
                                    <i class="fa fa-facebook"></i>
                                </a>
                            </li>
                            <li>
                                <a data-placement="top" data-toggle="tooltip" class="tw tooltips" data-original-title="Twitter" href="#">
                                    <i class="fa fa-twitter"></i>
                                </a>
                            </li>
                            <li>
                                <a data-placement="top" data-toggle="tooltip" class="gp tooltips" data-original-title="Google plus" href="#">
                                    <i class="fa fa-google-plus"></i>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <!-- End Team v2 -->

            <!-- Team v2 -->
            <div class="col-md-3 col-sm-6">
                <div class="team-v2 no-margin-bottom">
                    <!--img class="img-responsive" src="assets/img/team/img39-md.jpg" alt=""-->
                    <img class="img-responsive" src="{% static 'unify_assets/img/testimonials/img7.jpg' %}" alt="">
                    <div class="inner-team">
                        <h3>Donec Elisson</h3>
                        <small class="color-green">Director, R &amp; D Talent</small>
                        <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, justo sit amet risus etiam porta sem...</p>
                        <a href="#">Read More</a>
                        <hr>
                        <ul class="list-inline team-social">
                            <li>
                                <a data-placement="top" data-toggle="tooltip" class="fb tooltips" data-original-title="Facebook" href="#">
                                    <i class="fa fa-facebook"></i></a>
                                </li>
                                <li>
                                    <a data-placement="top" data-toggle="tooltip" class="tw tooltips" data-original-title="Twitter" href="#">
                                        <i class="fa fa-twitter"></i>
                                    </a>
                                </li>
                                <li>
                                    <a data-placement="top" data-toggle="tooltip" class="gp tooltips" data-original-title="Google plus" href="#">
                                        <i class="fa fa-google-plus"></i>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <!-- End Team v2 -->
        </div>
    </div>
</div>
		<!--=== End Team Section with Parallax ===-->