{% extends "common/base.html" %}
{% load staticfiles %}
{% block content %}
    <div class="container content-sm">
        <div class="row">
            <div class="col-md-4 ">
                <div class="margin-bottom-45">
                    <img class="img-responsive" src="{% static 'img/study2.jpg' %}" alt="">
                </div>
                <div class="margin-bottom-45">
                    <div class="service-block service-block-dark-blue">
                        <i class="icon-2x color-light icon-line icon-graduation"></i>

                        <h2 class="heading-md">
                            A recommended course from https://www.coursera.org/
                        </h2>
                        <a href="https://www.coursera.org/learn/study-in-usa" target="_blank">
                            Applying to U.S.Universities
                        </a>
                    </div>
                </div>
                <div class="margin-bottom-45">
                    <p>
                        <strong>How to Apply to Graduate School</strong>
                    </p>
                    <!-- 16:9 aspect ratio -->
                    <div class="embed-responsive embed-responsive-16by9">
                        <iframe class="embed-responsive-item" webkitAllowFullScreen mozallowfullscreen allowFullScreen
                                src="https://www.youtube.com/embed/Bcc1ZkspmTc"></iframe>
                    </div>
                </div>
            </div>
            <div class="col-md-8">

                <div class="headline-left margin-bottom-30">
                    <h2 class="headline-brd">Preparation for Your Higher Study!</h2>
                    <ul class="list-unstyled lists-v2 margin-bottom-30">
                        <li class="bullet-point"><i class="fa  fa-check"></i>
                            First of all you need an undergraduate degree to apply for higher study
                        </li>
                        <li class="bullet-point"><i class="fa  fa-check"></i>
                            Several standardized test to be taken like GRE, TOEFL, and IELTS etc.
                        </li>
                        <li class="bullet-point"><i class="fa  fa-check"></i>
                            You will need a concrete plan about test preparation.
                        </li>
                        <li class="bullet-point"><i class="fa  fa-check"></i>
                            Select suitable University and Subject
                        </li>

                    </ul>

                    <p>
                        As you have taken the decision of stepping ahead for your higher study, several questions can
                        come into your mind. It is probable that you are thinking about - how to start, the prerequisite
                        of your higher study, standardized tests you need to take, application period etc. Well, here we
                        are for you, your questions will be answered systematically.<br><br>

                        First off, the prerequisite of higher study - you need to have an undergraduate degree by the
                        time of the application deadline of your intended university (In some cases that can vary based
                        on university's rules & regulation). In case you want to study the Doctorate program, not all
                        universities will ask you for a Master degree, especially in USA, for most of the Ph.D. program,
                        a Master degree is not mandatory.<br><br>

                        The second thing you have to have is your standardized test scores. So, you have to take those
                        tests. Depending on the country that you are about to apply, the required tests varies. In
                        general, if you are seeking an admission in USA, you have to take the Graduate Record
                        Examination (GRE) and if you are a non-native English speaker, a language test - either Test of
                        English as a Foreign Language (TOEFL) or, International English Language Testing System (IELTS).
                        In case you are from the business background, you might have to take Graduate Management
                        Admission Test (GMAT) instead of GRE. If you are intended to apply outside USA, you might not
                        need to take the GRE, though it can add more strength in your application.<br><br>

                        At this point, you might be thinking about - when should I start my preparation? The answer to
                        your question is, it should depend on your intended country, more specifically, your intended
                        university's application period. In USA, in general, there are two semesters in which vast
                        numbers of students apply - the fall session and the spring session and in most of the cases,
                        the intake in fall session is the largest, though. Some universities offer a summer session,
                        but, fall and spring sessions have the large intake. Although the application deadlines vary
                        based on universities, you can have a look at here - Application Deadlines for US Universities.
                        So back to the answer to your question, you should check your intended program's deadline and
                        prepare yourself for the tests, take the tests and complete your application prior to the
                        deadline. Here is a very informative video - how to apply to graduate school, from the graduate
                        division diversity program director: Carla Trujillo of the University of California, Berkeley
                        that you may look at.<br><br>

                        My Study Notebook will provide certain guidance to you to overcome all the hurdles come into the
                        path of preparation.
                    <ul class="list-unstyled lists-v2 margin-bottom-30">
                        <li class="bullet-point"><i class="fa  fa-check"></i>
                            We will help you to choose a great study plan which will suit you.
                        </li>
                        <li class="bullet-point"><i class="fa  fa-check"></i>
                            We will provide you guidance, suggestion or expert opinion whatever you need to be prepared
                            for the road ahead.
                        </li>
                        <li class="bullet-point"><i class="fa  fa-check"></i>
                            Our experts will be available to answer your question.
                        </li>
                    </ul>
                    </p>
                </div>
            </div><!--/end row-->
        </div>
    </div>
{% endblock %}