{% extends "common/base.html" %}
{% load staticfiles %}
{% block content %}
    <div class="container content-sm">
        <div class="row">
            <div class="col-md-4 ">
                <div class="margin-bottom-45">
                    <div class="service-block service-block-dark-blue">
                        <i class="icon-2x color-light icon-line icon-graduation"></i>

                        <h2 class="heading-md">
                            A highly recommended website for TOEFL preparation
                        </h2>
                        <a href="https://www.notefull.com/productsmain.php" target="_blank">
                            notefull.com
                        </a>
                    </div>
                </div>
                <div class="margin-bottom-45">
                    <p>
                        <strong>GRE Lesson - About the GRE</strong>
                    </p>
                    <!-- 16:9 aspect ratio -->
                    <div class="embed-responsive embed-responsive-16by9">
                        <iframe class="embed-responsive-item" webkitAllowFullScreen mozallowfullscreen allowFullScreen
                                src="https://www.youtube.com/embed/I0rz-OgI7Ew"></iframe>
                    </div>
                </div>
                <div class="margin-bottom-45">
                    <p>
                        <strong>IELTS - An Overview | International English Language Testing System know-how</strong>
                    </p>
                    <!-- 16:9 aspect ratio -->
                    <div class="embed-responsive embed-responsive-16by9">
                        <iframe class="embed-responsive-item" webkitAllowFullScreen mozallowfullscreen allowFullScreen
                                src="https://www.youtube.com/embed/mZkd2pEyOog"></iframe>
                    </div>
                </div>
            </div>
            <div class="col-md-8">

                <div class="headline-left margin-bottom-30">
                    <h2 class="headline-brd">Standard Exams</h2>

                    <p>
                        To initiate your dream journey for higher study, you need to take some standardized tests. These
                        tests scores also help the application reviewers to assess your potentiality for their highly
                        competitive programs. At this point, we want to summarize the tests that you need to take. Handy
                        tips and tricks, to do well in these tests will be provided in the respective sections as well.
                        <br><br>

                        <strong>Graduate Record Examination (GRE):</strong> GRE is an important test that you must have to take for
                        getting into maximum US universities graduate program - the test is created and designed by
                        Educational Testing Service (ETS). Currently, ETS arranges two kinds of GRE tests –
                        <br>
                        1. GRE General Tests <br>
                        2. GRE Subject Tests <br>
                        In general, most of the aspirants take the GRE General Test. Those who are from the disciplines
                        - Biochemistry, Cell and Molecular Biology, Biology, Chemistry, Literature in English,
                        Mathematics, Physics, and Psychology, sometimes, need to take the GRE Subject Test to show their
                        astuteness in their respective arena. The GRE general test is consists of 3 sections - (a)
                        Analytical Writing, (b) Verbal Reasoning and (c) Quantitative Reasoning. The analytical writing
                        ability (AWA) section is marked on 0 to 6 scale, whereas the verbal and quantitative reasoning
                        are both marked on a 130 to 170 scale - total score of the GRE General Test is 340. To have an
                        overview watch this video from left - GRE Lesson - About the GRE.
                        <br><br>

                       <strong> Graduate Management Admission Test (GMAT): </strong>To test the ability of the test takers in Masters in
                        Business Administration (MBA), the standardized test GMAT is designed. It is a computer-adaptive
                        test (CAT) designed and developed by Graduate Management Admission Council (GMAC). An analytical
                        writing assessment, integrated reasoning, the verbal section, and the quantitative section are
                        the four sections of this test.
                        <br><br>

                        <strong>Test of English as a Foreign Language (TOEFL): </strong>The purpose of TOEFL is to test the ability of
                        non-native English speakers in the English language. Educational Testing Service (ETS) arranges
                        this standardized test in two formats - Internet-based or paper-based. TOEFL consists of four
                        sections - a reading section, a listening section, a speaking section, and a writing section.
                        Each section is scored on a scale of 1 to 30 and the total score is summed in a 120 scale. To
                        get an overview of this test, you can watch this video and for getting helpful tips from the
                        creator of the test, you can watch their TOEFL.TV's videos.
                        <br><br>

                        <strong>International English Language Testing System (IELTS):</strong> It is an international standardized test
                        for the non-native English speakers to prove their ability in English. British Council, IDP -
                        Austalia, and Cambridge English Language Assessment jointly manage this test. Apart from the
                        USA, throughout the whole world, both TOEFL and IELTS are accepted nowadays. IELTS is available
                        in two modules, namely the Academic module - for academic purposes and General Training - for
                        professionals. Unless the TOEFL test, IELTS does not have any internet version, is fully
                        paper-based. The four sections are similar, though - a reading section, a listening section, a
                        writing section, and a speaking section. Each section is scored on a 0 to 9 band and the overall
                        band is the average of the four band scores. You can learn more about the test in this in
                        official IELTS website fron this
                        <a href="https://www.ielts.org/about-the-test/test-format" target="_blank">link</a>


                    </p>
                </div>
            </div><!--/end row-->
        </div>
    </div>
{% endblock %}