<div class="container content" style="padding-top: 0px;">
    <div class="tab-v2">
        <ul class="nav nav-tabs">
            <li class="active"><a href="#home-1" data-toggle="tab">Categories</a></li>
        </ul>
        <div class="tab-content">
            <div class="tab-pane fade in active" id="home-1">
                <div class="row">
                    {% for type in types %}
                        <div class="col-md-3 col-sm-3 md-margin-bottom-40">
                            <h3 class="heading-md"><strong>{{ type.name }}</strong></h3>
                            <ul class="list-unstyled categories">
                                {% for cat in type.category_set.all %}
                                    <li><a href="#">{{ cat.name }}</a></li>
                                {% endfor %}
                            </ul>
                        </div>
                    {% endfor %}

                </div>
            </div>
        </div>
    </div>
</div>
<!-- End Tab v2 -->