<!-- FAQ Content -->
<div class="container content-sm faq-page">
    <div class="row">
        <!-- Begin Tab v1 -->
        <div class="col-md-12">
            <div class="tab-v1">
                <ul class="nav nav-tabs margin-bottom-20">
                    <li class="active"><a data-toggle="tab" href="#recent">Recent Questions</a></li>
                    <li><a data-toggle="tab" href="#popular">Popular Topics</a></li>
                </ul>
                <div class="tab-content">
                    <!-- Tab Content 1 -->
                    <div id="recent" class="tab-pane fade in active">
                        <div id="accordion-v1" class="panel-group acc-v1">
                            {% for question in recent_q %}
                            <div class="panel panel-default">
                                <div class="panel-heading">
                                    <h4 class="panel-title">
                                        <a href="#collapse-{{ forloop.counter }}" data-parent="#accordion-v1" data-toggle="collapse" data-toggle="tooltip" data-placement="top" title="click to see the answer" class="accordion-toggle">
                                            {{ question.text }}
                                        </a>
                                    </h4>
                                </div>
                                <div class="panel-collapse collapse {% if forloop.first %}in{% endif %}" id="collapse-{{ forloop.counter }}">
                                    <div class="panel-body">
                                        {{ question.answer.text }}
                                    </div>
                                </div>
                            </div>
                            {% endfor %}
                        </div>
                    </div>
                    <!-- End Tab Content 1 -->
                    <!-- Tab Content 2 -->
                    <div id="popular" class="tab-pane fade in">
                        <div id="accordion-v1" class="panel-group acc-v1">
                            {% for question in recent_q %}
                            <div class="panel panel-default">
                                <div class="panel-heading">
                                    <h4 class="panel-title">
                                        <a href="#collapse-{{ forloop.counter }}" data-parent="#accordion-v1" data-toggle="collapse" data-toggle="tooltip" data-placement="top" title="click to see the answer" class="accordion-toggle">
                                            {{ question.text }}
                                        </a>
                                    </h4>
                                </div>
                                <div class="panel-collapse collapse {% if forloop.first %}in{% endif %}" id="collapse-{{ forloop.counter }}">
                                    <div class="panel-body">
                                        {{ question.answer.text }}
                                    </div>
                                </div>
                            </div>
                            {% endfor %}
                        </div>
                    </div>
                    <!-- End Tab Content 2 -->


                </div>
            </div>
        <div class="text-center">
            <h3>
                <i class="fa fa-question-circle fa-large "></i>
                Have n't got your answer yet?
                <a href="{% url 'contactus' %}"> Write to us!</a>
            </h3>
        </div>
        </div><!--/col-md-6-->
            <!--End Tab v1-->

    </div>
        <!-- End FAQ Content -->
</div><!--/container-->

		<!--=== End FAQ Page ===-->