<!--=== Search Block Version 2 ===-->
<div class="search-block-v2">
    <div class="container">
            <div class="col-md-6 col-md-offset-3">
                <h2>Search our FAQ database</h2>
                <form action="{% url 'faq_search' %}" method="post">
                    <div class="input-group">
                        {% csrf_token %}
                        {{ faq_search_form.search_item }}
                    <span class="input-group-btn">
                        <button class="btn-u" type="submit"><i class="fa fa-search"></i></button>
                    </span>
                    </div>
                </form>
            </div>
    </div>
</div><!--/container-->
<!--=== End Search Block Version 2 ===-->
