<!--/container -->
{% load staticfiles %}
    <div class="container content-sm">
        <div class="row">
            <div class="col-md-6 md-margin-bottom-50">
                <img class="img-responsive" src="{% static 'unify_assets/img/mockup/imac2.png' %}" alt="">
            </div>
            <div class="col-md-6">
                <br><br><br>

                <div class="headline-left margin-bottom-30">
                    <h2 class="headline-brd">Why do you need your SOP reviewed?</h2>

                    <p>
                        SOP gives the admission committee to judge your goals and make sure they are in line with the
                        school's’ ethics, capabilities, and standards and provide you all the support to let you reach
                        your goal. Statement of purpose gives the admission committee to judge your perspective of life,
                        your career aspirations, your ethics, your technical aptitude, your vision for life, etc. The
                        key point is, it is your chance to explain to admission committee why you are going for higher
                        education and what is your main purpose…Universities give utmost importance to SOP.
                        Check out some good articles on SOP

                    </p>
                    <ul class="list-unstyled lists-v2 margin-bottom-30">
                        <li class="bullet-point"><i class="fa  fa-external-link"></i>
                            <a href="http://redbus2us.com/what-is-statement-of-purpose-sop-why-is-it-so-important/" target="_blank">
                                What is Statement of Purpose (SOP) ? Why is it so Important?</a>
                        </li>
                        <li class="bullet-point"><i class="fa  fa-external-link"></i>
                        <a href="#" target="_blank">Another link</a>
                        </li>
                               <li class="bullet-point"><i class="fa  fa-external-link"></i>
                        <a href="#" target="_blank">Another link</a>
                        </li>
                               <li class="bullet-point"><i class="fa  fa-external-link"></i>
                        <a href="#" target="_blank">Another link</a>
                        </li>
                    </ul>
                </div>

            </div><!--/end row-->
        </div>
    </div>