<!--/container -->
{% load staticfiles %}
<div class="container content-sm">
    <div class="row">
        <div class="col-md-6 md-margin-bottom-50">
            <img class="img-responsive" src="{% static 'unify_assets/img/mockup/imac2.png' %}" alt="">
        </div>
        <div class="col-md-6">
            <br><br><br>

            <div class="headline-left margin-bottom-30">
                <h2 class="headline-brd">Why do you need your SOP reviewed?</h2>

                <p>
                    Statement of Purpose (SOP) is the single most important document in the application process for
                    graduate admission that helps distinguish among candidates of similar potential and capabilities. It
                    reflects an applicant's personality in terms of how he or she perceives the world around themselves,
                    their career goal and most importantly if the person is ready to embrace the culture and norms of
                    the University. This is a unique opportunity for the student to tell a story of why they are so
                    inspired to apply for higher studies and why the specific school is fit for their aspiration. A
                    well-written, thoughtful and inspirational SOP can make all the difference in persuading the
                    admission committee into selecting a candidate.

                </p>
                <ul class="list-unstyled lists-v2 margin-bottom-30">
                    <li class="bullet-point"><i class="fa  fa-external-link"></i>
                        <a href="http://redbus2us.com/what-is-statement-of-purpose-sop-why-is-it-so-important/"
                           target="_blank">
                            What is Statement of Purpose (SOP) ? Why is it so Important?</a>
                    </li>
                    <li class="bullet-point"><i class="fa  fa-external-link"></i>
                        <a href="#" target="_blank">Another link</a>
                    </li>
                    <li class="bullet-point"><i class="fa  fa-external-link"></i>
                        <a href="#" target="_blank">Another link</a>
                    </li>
                    <li class="bullet-point"><i class="fa  fa-external-link"></i>
                        <a href="#" target="_blank">Another link</a>
                    </li>
                </ul>
            </div>

        </div><!--/end row-->
    </div>
</div>