<!-- Contacts -->
{% load staticfiles %}
<div class="container content">
    <form action="{% url 'sop_review' %}" enctype="multipart/form-data" method="post" id="sky-form3" class="sky-form {% if email_success %} submited {% endif %}">
        {% csrf_token %}
        <header>Submit Your SOP</header>

        <fieldset>
            <div class="row">
                {{ form.non_field_errors }}
                <section class="col col-6">
                    <label class="label">Name</label>
                    <label class="input">
                        <i class="icon-append fa fa-user"></i>
                        {{ form.name.errors }}
                        {{ form.name }}
                    </label>
                </section>
                <section class="col col-6">
                    <label class="label">E-mail</label>
                    <label class="input">
                        <i class="icon-append fa fa-envelope-o"></i>
                        {{ form.email.errors }}
                                {{ form.email }}
                    </label>
                </section>
            </div>

            <section>
                <label class="label">Message</label>
                <label class="textarea">
                    <i class="icon-append fa fa-comment"></i>
                      {{ form.msg.errors   }}
                                {{ form.msg }}
                </label>
            </section>

            <section>
                <label for="file" class="input input-file">
                    <div class="button">
                        {{ form.file.errors }}
                        {{ form.file }}
                        Browse</div>
                    <input type="text" placeholder="Include your SOP" readonly>
                </label>
            </section>
        </fieldset>

        <footer>
            <button type="submit" class="button">Send message</button>
        </footer>

        <div class="message">
            <i class="rounded-x fa fa-check"></i>
            <p>Your message was successfully sent!</p>
        </div>
    </form>
</div>
<!-- Contacts -->