{% load staticfiles %}
<!-- Begin Content -->
<div class="container content">
			<div class="row">
				<div class="col-md-12">
					<div class="heading heading-v1">
						<h2>Who is reviewing your SOP?</h2>
					</div>

					<!-- Owl Carousel v1 -->
					<div class="owl-carousel-v1">
						<div class="owl-navigation">
							<div class="customNavigation">
								<a class="owl-btn prev-v1"><i class="fa fa-angle-left"></i></a>
								<a class="owl-btn next-v1"><i class="fa fa-angle-right"></i></a>
							</div>
						</div><!--/navigation-->

						<div class="owl-slider">
                            {% for reviewer in reviewers %}
							<div class="item">
                            <img class="img-responsive" src="{{ MEDIA_URL }}{{ reviewer.thumbnail }}" alt="">
                                <h3>{{ reviewer.first_name }} {{ reviewer.last_name }}</h3>
                                <p>{{ reviewer.short_bio |safe }}</p>
							</div>
                            {% endfor %}

						</div>
					</div>
					<!-- End Owl Carousel v1 -->


				</div>
				<!-- End Content -->
			</div>
		</div><!--/container-->

<!--=== End Content Part ===-->
