<div class="container content">
    <div class="headline-center margin-bottom-40">
        <h2>How does it work? Step by step.</h2>
    </div>
    <div class="row content-boxes-v4">
        <div class="col-md-3">
            <i class="pull-left fa fa-book"></i>

            <div class="content-boxes-in-v4">
                <h2>Study and Study</h2>

                <p>
                    Study about writing good SOP. We have included few useful links to good article on writing SOP on
                    top article of this page. Study, get better idea and start writing your draft SOP
                </p>
            </div>
        </div>
        <div class="col-md-3">
            <i class="pull-left fa fa-lightbulb-o"></i>

            <div class="content-boxes-in-v4">
                <h2>Write Draft and Iterate</h2>

                <p>
                    Start writing your draft. Dont think too much at the beginning. Make the backbone first. Write
                    ->review->modify. Continue the cycle until you are satisfied. Get help from your seniors, professors
                    or anyone who is expert in the matter.

                </p>
            </div>
        </div>
        <div class="col-md-3">
            <i class="pull-left fa  fa-upload"></i>

            <div class="content-boxes-in-v4">
                <h2>Send the SOP to Us</h2>

                <p class="margin-bottom-10">If you still need help from experts, send your SOP using below forms to us.
                    Please send in Microsoft
                    word format, so that we can put our comment on your file. Our top class experts will review your SOP
                    and will give you important guidelines. Remember they will not rewrite your SOP, but from our
                    experience we know that guideline from experts is extremely helpful.
                </p>
                <a href="#sop_submit_form">
                    <button class="btn btn-default" type="button">Send it now!</button>
                </a>
            </div>
        </div>
        <div class="col-md-3">
            <i class="pull-left fa fa-check"></i>

            <div class="content-boxes-in-v4">
                <h2>feedback/ Consult/ Finetune</h2>

                <p>Our reviewer will send the feedback to your mail within 2 weeks with contact information of the
                    reviewer. Make an appointment with your SOP reviewer, ask any question if you want. And finally
                    finetune your SOP. Make it best of the best to represent yourself.
                </p>
            </div>
        </div>
    </div>
</div>