<!DOCTYPE html>
<!--[if !IE]><!-->
<html lang="en"> <!--<![endif]-->
<head>
    <title>My Study Notebook</title>

    <!-- Meta -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="HIgher Study">
    <meta name="author" content="White Canvas Software">
    <meta name="google-site-verification" content="7nukdjHe5Xk3lse0GgJP8eNp9lzYyFfqEgwWhklY66w" />
    {% load staticfiles %}
    <!-- Favicon -->
    <link rel="shortcut icon" href="../favicon.ico">

    <!-- Web Fonts -->
    <link href='https://fonts.googleapis.com/css?family=Roboto:400,300,700&subset=latin,cyrillic' rel='stylesheet'
          type='text/css'>

    <!-- CSS Global Compulsory -->
    <link rel="stylesheet" href="{% static 'unify_assets/plugins/bootstrap/css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'unify_assets/css/app.css' %}">
    <link rel="stylesheet" href="{% static 'unify_assets/css/blocks.css' %}">
    <link rel="stylesheet" href="{% static 'unify_assets/css/style.css' %}">
    <!-- CSS Implementing Plugins -->
    <link rel="stylesheet" href="{% static 'unify_assets/plugins/animate.css' %}">
    <link rel="stylesheet" href="{% static 'unify_assets/plugins/font-awesome/css/font-awesome.min.css' %}">
    <link rel="stylesheet" href="{% static 'unify_assets/plugins/line-icons/line-icons.css' %}">
    <link rel="stylesheet" href="{% static 'unify_assets/plugins/sky-forms-pro/skyforms/css/sky-forms.css' %}">
    <link rel="stylesheet"
          href="{% static 'unify_assets/plugins/sky-forms-pro/skyforms/custom/custom-sky-forms.css' %}">
    <link rel="stylesheet" href="{% static 'unify_assets/plugins/parallax-slider/css/parallax-slider.css' %}">
    <link rel="stylesheet" href="{% static 'unify_assets/plugins/owl-carousel/owl-carousel/owl.carousel.css' %}">

    <!-- CSS Customization -->
    <link rel="stylesheet" href="{% static 'custom.css' %}">
<script src="{% static 'common/google_analytics.js' %}"></script>

</head>

<body  data-spy="spyscroll"  class="header-fixed">
<!-- Header -->
{% include 'common/nav.html' %}
<!-- End Header -->
{% block content %}

{% endblock %}
{% include "common/footer.html" %}
<!-- JS Global Compulsory -->
<script src="{% static 'unify_assets/plugins/jquery/jquery.min.js' %}"></script>
<script src="{% static 'unify_assets/plugins/jquery/jquery-migrate.min.js' %}"></script>
<script src="{% static 'unify_assets/plugins/bootstrap/js/bootstrap.min.js' %}"></script>
<script src="{% static 'unify_assets/plugins/owl-carousel/owl-carousel/owl.carousel.js' %}"></script>
<script src="{% static 'unify_assets/js/app.js' %}"></script>
  {#    JS #}
<script src="{% static 'common/google_custom_search.js' %}"></script>

<script type="text/javascript" src="{% static 'unify_assets/js/plugins/owl-carousel.js' %}"></script>
<script type="text/javascript">
    jQuery(document).ready(function () {
        App.init();
        OwlCarousel.initOwlCarousel();
    });

    $(function () {
        $('[data-toggle="tooltip"]').tooltip()
    })
</script>
<!--[if lt IE 9]>
  <script src="{% static 'unify_assets/plugins/respond.js' %}"></script>
  <script src="{% static 'unify_assets/plugins/html5shiv.js' %}"></script>
  <![endif]-->
</body>
</html>
