{% load staticfiles %}
    <link rel="stylesheet" href="{% static 'unify_assets/css/footers/footer-v2.css' %}">

<!--=== Footer v2 ===-->
<div id="footer-v2" class="footer-v2">
    <div class="footer">
        <div class="container">
            <div class="row">
                <!-- About -->
                <div class="col-md-4 md-margin-bottom-40">
                    <div class="headline"><h2 class="heading-sm">My Study Notebook</h2></div>
                    <p class="margin-bottom-20">
                        It is our motto to aid students to have the best answer for their questions that will aid
                        in their higher studies and better future.
                    </p>

                </div>
                <!-- End About -->

                <!-- Link List -->
                <div class="col-md-4 md-margin-bottom-40">
                    <div class="headline"><h2 class="heading-sm">Useful Links</h2></div>
                    <ul class="list-unstyled link-list">
                        <li><a href="{% url 'home' %}">Home</a><i class="fa fa-angle-right"></i></li>
                        <li><a href="{% url 'faq' %}">FAQ</a><i class="fa fa-angle-right"></i></li>
                        <li><a href="{% url 'sop_review' %}">SOP</a><i class="fa fa-angle-right"></i></li>
                        <li><a href="{% url 'skype'%}">Skype Session</a><i class="fa fa-angle-right"></i></li>
                        <li><a href="{% url 'contactus'%}">Contact us</a><i class="fa fa-angle-right"></i></li>
                    </ul>
                </div>
                <!-- End Link List -->



                <!-- Address -->
                <div class="col-md-4 md-margin-bottom-40">
                    <div class="headline"><h2 class="heading-sm">Contact Us</h2></div>
                    <address class="md-margin-bottom-40">
                        <i class="fa fa-home"></i> 25, Central Road, Dhanmondi, Dhaka, Bangladesh <br />
                        <i class="fa fa-phone"></i> Phone: +19797397466<br />
                        <i class="fa fa-globe"></i> Website: <a target="_blank" href="{% url 'home' %}">www.mystudynotebook.com</a> <br />
                        <i class="fa fa-envelope"></i> Email: <a href="mailto:support@whitecanvassoft.com">support@mystudynotebook.com</a>
                    </address>

                    <ul class="list-inline team-social">
                        <li>
                            <a data-placement="top" data-toggle="tooltip" class="fb tooltips" data-original-title="Facebook" href="#">
                                <i class="fa fa-facebook"></i>
                            </a>
                        </li>
                        <li>
                            <a data-placement="top" data-toggle="tooltip" class="tw tooltips" data-original-title="Twitter" href="#">
                                <i class="fa fa-twitter"></i>
                            </a>
                        </li>
                        <li>
                            <a data-placement="top" data-toggle="tooltip" class="gp tooltips" data-original-title="Google plus" href="#">
                                <i class="fa fa-google-plus"></i>
                            </a>
                        </li>
                    </ul>

                    <!-- End Social Links -->
                </div>
                <!-- End Address -->
            </div>
        </div>
    </div><!--/footer-->

    <div class="copyright">
        <div class="container">
            <p class="text-center">
                2016 &copy; All Rights Reserved by <a href="{% url 'home' %}">My Study Notebook</a>
                &nbsp; Designed and Developed by <a target="_blank" href="www.whitecanvassoft.com">www.whitecanvassoft.com</a>
            </p>
        </div>
    </div><!--/copyright-->
</div>
<!--=== End Footer v2 ===-->