
{% load static %}
        <link rel="stylesheet" href="{% static 'unify_assets/css/headers/header-default.css' %}">

<div class="header">
    <div class="container">
        <!-- Logo -->
        <!--a class="logo" href="index.html">
            <img src="assets/img/logo1-default.png" alt="Logo">
        </a-->
        <a class="navbar-brand" href="#body">
            <h3 id="headerTitle">MY STUDY NOTEBOOK</h3>
        </a>
        <!-- End Logo -->

        <!-- Toggle get grouped for better mobile display -->
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-responsive-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="fa fa-bars"></span>
        </button>
        <!-- End Toggle -->
    </div><!--/end container-->

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse mega-menu navbar-responsive-collapse">
        <div class="container">
            <ul class="nav navbar-nav">
                <li class="page-scroll home">
                    <a href="/">Home</a>
                </li>
                <li class="page-scroll">
                    <a href="/faq/">FAQ</a>
                </li>
                <li class="page-scroll">
                    <a href="/sop/">SOP REVIEW</a>
                </li>
                <li class="page-scroll">
                    <a href="/to_do/">To-Do</a>
                </li>
                <li class="page-scroll">
                    <a href="/skype/">Skype Consultancy</a>
                </li>
                <li class="page-scroll">
                    <a href="/contactus/">Contact Us</a>
                </li>
                <!-- Search Block -->
				<li>
					<i class="search fa fa-search search-btn"></i>
					<div class="search-open">
						<div class="input-group animated fadeInDown">
							<gcse:searchbox-only resultsUrl="{% url 'google_search' %}"></gcse:searchbox-only>
						</div>
					</div>
				</li>
				<!-- End Search Block -->

            </ul>
        </div>
    </div><!--/navbar-collapse-->
</div>
<!--=== End Header ===-->