.bg-color-light p{
	color: #0f0f0f;
}
/*Search Block Version 2
------------------------------------*/
.search-block-v2 {
	margin-bottom: 50px;
	padding: 50px 0 58px;
	border-bottom: 1px solid #eee;
	background: url(unify_assets/img/patterns/breadcrumbs.png) repeat;
}

.search-block-v2 h2 {
	font-size: 24px;
	font-weight: 200;
	text-align: center;
	margin-bottom: 18px;
	text-transform: uppercase;
}

/*Check-style*/
.faq-page .check-style {
	margin-bottom: 0;
}

.faq-page .check-style li {
	margin-bottom: 10px;
}
.faq-page .check-style li:last-child {
	margin-bottom: 0;
}

.faq-page .check-style i {
	font-size: 18px;
	font-weight: 600;
	vertical-align: middle;
}

/*Check-style in Responsive*/
@media (max-width: 450px) {
	.faq-page .main-check .col-xs-6 {
		width: 100%;
	}
}

/*Faq-add*/
.faq-page .faq-add {
	padding: 15px;
	margin-bottom: 20px;
	border: 2px solid #eee;
}

.faq-page .top-part i {
	float: left;
	color: #777;
	font-size: 20px;
	padding-top: 3px;
	margin-right: 10px;
}

.faq-page .new-title {
	color: #72c02c;
	font-size: 18px;
	margin-bottom: 5px;
}

.faq-page .faq-add p {
	line-height: 1.5;
}

/*ParallaxBg6
------------------------------------*/
/*Title-Box*/
.faq-bg .title-box-v2 h2,
.faq-bg .title-box-v2 p {
	color: #fff;
}

.owl-carousel-v1 .item img {
    text-align: center;
    height:200px;
}
.owl-carousel-v1 .item h4 {
    color: #999;
    font-size: 11px;
    line-height: 16px;
    text-transform: uppercase;
}
.bullet-point{
    color: #000000;
}


/*Video Banner*/
.homepage-hero-module {
    border-right: none;
    border-left: none;
    position: relative;
    height: 500px;
}
.no-video .video-container video,
.touch .video-container video {
  display: none;
}
.no-video .video-container .poster,
.touch .video-container .poster {
  display: block !important;
}
.video-container {
  position: relative;
  bottom: 0%;
  left: 0%;
  height: 100%;
  width: 100%;
  overflow: hidden;
  background: #000;
}
.video-container .poster img {
  width: 100%;
  bottom: 0;
  position: absolute;
}
.video-container .filter {
  z-index: 100;
  position: absolute;
  background: rgba(0, 0, 0, 0.4);
  width: 100%;
}
.video-container .title-container {
  z-index: 1000;
  position: absolute;
  top: 35%;
  width: 100%;
  text-align: center;
  color: #fff;
}
.video-container .description .inner {
  font-size: 1em;
  width: 45%;
  margin: 0 auto;
}
.video-container .link {
  position: absolute;
  bottom: 3em;
  width: 100%;
  text-align: center;
  z-index: 1001;
  font-size: 2em;
  color: #fff;
}
.video-container .link a {
  color: #fff;
}
.video-container video {
  position: absolute;
  z-index: 0;
  bottom: 0;
}
.video-container video.fillWidth {
  width: 100%;
}



/* Lawyer global classes
---------------------------------------------------*/
.g-pl-80{
    padding-left: 50px;
    padding-right: 50px;
}
.g-pt-100{
    padding-bottom: 50px;
    padding-top: 50px;
}
@media (max-width: 768px) {
	.equal-height-column {
		width: 100%;
		height: auto !important;
	}
}
#test{
    height: 500px;
    width: 104%;
}
#test1{
    height: 500px;
    width: 104%;
}
.g-heading-v9 {
  text-transform: uppercase;
  padding-bottom: 26px;
  position: relative;
  margin-top: -15px;
  margin-bottom: 30px;
}
.g-heading-v9:after {
  content: "";
  display: block;
  position: absolute;
  left: 0;
  bottom: 0;
  width: 38px;
  margin-left: 0;
  border-bottom: 5px solid #e74c3c;
}
.g-heading-v9.text-center:after {
  left: 50%;
  margin-left: -19px;
}
.g-heading-v9.text-right:after {
  left: auto;
  right: 0;
  margin-left: 0;
}
/* What we do section
--------------------------------------------*/
.content-boxes-v7 {
	margin-bottom: 40px;
}

.content-boxes-v7 i.fa {
	font-size: 47px;
	margin-top: 24px;
	margin-right: 38px;
}

.content-boxes-in-v7 {
	overflow: hidden;
}

/* Why we section
--------------------------------------------*/
.marked-list-v1 li {
	position: relative;
	padding-left: 24px;
}

.marked-list-v1 li[data-mark]:after {
	content: attr(data-mark);
	font-weight: bold;
	line-height: 15px;
	color: #e74c3c;
	font-size: 20px;
	position: absolute;
	left: 0;
	top: 0;
}

/*Profile
------------------------------------*/

.profile .profile-body {
  padding: 20px;
  background: #f7f7f7;
}

/*Profile Me
------------------------------------*/
/*Profile Biography*/
.profile .profile-bio {
  background: #fff;
  position: relative;
  padding: 15px 10px 5px 15px;
}

.profile .profile-bio a {
  left: 50%;
  bottom: 20px;
  margin-left: -60px;
  text-align: center;
  position: absolute;
}

.profile .profile-bio h2 {
  margin-top: 0;
  font-weight: 200;
}

.profile .profile-bio span {
  display: block;
}

.profile .profile-bio hr {
  margin: 12px 0 10px;
}











