.bg-color-light p{
	color: #0f0f0f;
}
/*Search Block Version 2
------------------------------------*/
.search-block-v2 {
	margin-bottom: 50px;
	padding: 50px 0 58px;
	border-bottom: 1px solid #eee;
	background: url(unify_assets/img/patterns/breadcrumbs.png) repeat;
}

.search-block-v2 h2 {
	font-size: 24px;
	font-weight: 200;
	text-align: center;
	margin-bottom: 18px;
	text-transform: uppercase;
}

/*Check-style*/
.faq-page .check-style {
	margin-bottom: 0;
}

.faq-page .check-style li {
	margin-bottom: 10px;
}
.faq-page .check-style li:last-child {
	margin-bottom: 0;
}

.faq-page .check-style i {
	font-size: 18px;
	font-weight: 600;
	vertical-align: middle;
}

/*Check-style in Responsive*/
@media (max-width: 450px) {
	.faq-page .main-check .col-xs-6 {
		width: 100%;
	}
}

/*Faq-add*/
.faq-page .faq-add {
	padding: 15px;
	margin-bottom: 20px;
	border: 2px solid #eee;
}

.faq-page .top-part i {
	float: left;
	color: #777;
	font-size: 20px;
	padding-top: 3px;
	margin-right: 10px;
}

.faq-page .new-title {
	color: #72c02c;
	font-size: 18px;
	margin-bottom: 5px;
}

.faq-page .faq-add p {
	line-height: 1.5;
}

/*ParallaxBg6
------------------------------------*/
/*Title-Box*/
.faq-bg .title-box-v2 h2,
.faq-bg .title-box-v2 p {
	color: #fff;
}

.owl-carousel-v1 .item img {
    text-align: center;
    height:200px;
}
.owl-carousel-v1 .item h4 {
    color: #999;
    font-size: 11px;
    line-height: 16px;
    text-transform: uppercase;
}
.bullet-point{
    color: #000000;
}