<div class="container content text-center headline-center">
    {% include 'common/messages.html' %}
    <h2 class="headline-brd ">Next Skype Session Date And Time</h2>

    <h5 class="margin-bottom-20"><i class="fa  fa-calendar"></i>{{ event.start_time }} Bangladesh time&nbsp;
        <i class="fa  fa-hourglass-start"></i> Duration: {{ event.duration }} Hour &nbsp;
        <i class="fa  fa-check-square"></i> Availabe Seats:
        {{ event.available_seats }} out of {{ event.registration_limit }} &nbsp;
        <i class="fa  fa-skype"></i> Skype ID: MSNB &nbsp;
        <i class="fa  fa-envelope"></i> Email: support@mystudynotebook.com</h5>

    {% if user and user.is_anonymous %}
        {# user is not logged in #}
        {% if event.is_registration_open %}
            <h5 class="color-red">Please login to register</h5>
        {% else %}
            <h5 class="color-red">Registration is closed for this event. Please keep an eye for our next session</h5>
        {% endif %}
    {% else %}
        {# user is logged in #}
        {% if is_user_registered %}
            <h5 class="color-green">You are registered for this event</h5>
            <h5><a href="#" data-toggle="modal" data-target="#del_modal">Withdraw my registration</a></h5>
        {% elif event.is_registration_open %}
            <button class="btn-u" type="button" data-toggle="modal" data-target="#myModal">Register !</button>
        {% else %}
            <h5 class="color-red">Registration is closed for this event. Please keep an eye for our next session</h5>
        {% endif %}
    {% endif %}

</div>