{% load staticfiles %}
<section id="our-cases">
	<div class="container g-pt-100">
		<div class="row">
			<div class="col-md-10 col-md-offset-1 text-center">
				<div class="g-heading-v9 text-center g-mb-30">
					<h2><strong>Meet our next session presenter.</strong></h2>
				</div>
			</div>
		</div>
	</div>
	<div class="container content profile">
		<div class="row">
			<div class="col-md-12">
				<div class="profile-body">
					<div class="profile-bio">
						<div class="row">
							<div class="col-md-5">
								<img class="img-responsive md-margin-bottom-10" src="{% static 'unify_assets/img/bg/1.jpg' %}" alt="">
								<!-- <a class="btn-u btn-u-sm" href="#">Change Picture</a> -->
							</div>
							<div class="col-md-7">
								<h2>Edward Rooster</h2>
								<span><strong>Job:</strong> Web Developer</span>
								<span><strong>Position:</strong> Web Designer</span>
								<hr>
								<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse eget massa nec turpis congue bibendum. Integer nulla felis, porta suscipit nulla et, dignissim commodo nunc. Morbi a semper nulla.</p>
								<p>Proin mauris odio, pharetra quis ligula non, vulputate vehicula quam. Nunc in libero vitae nunc ultricies tincidunt ut sed leo. Sed luctus dui ut congue consequat. Cras consequat nisl ante, nec malesuada velit pellentesque ac. Pellentesque nec arcu in ipsum iaculis convallis.</p>
							</div>
						</div>
					</div><!--/end row-->
				</div>
			</div>
		</div>
	</div>
</section>