<!--/container -->
{% load staticfiles %}
<div class="container content-sm">
    <div class="row ">
                                    <div class="heading heading-v1 margin-bottom-40">
                            <h2 class="headline-brd">Next Session</h2>
                                </div>
                <div class="col-md-8">
                    <div class="row">
                        <div class="col-md-5">
                            <img class="img-responsive" src="{% static 'presenter/img32-md.jpg' %}" alt="">
                        </div>
                        <div class="col-md-7">
                            <h2>Our next presenter</h2>
                            <h4>Mr. X</h4>
                            <p>This is brief bio</p>
                        </div>
                    </div>
                    </div>
        <div class="col-md-4 alert alert-info fade in">
                <h2>Date and Time</h2>
                <p><i class="fa  fa-calendar"></i> 27th September, 2017,2 PM Bangladesh time</p>
                <p><i class="fa  fa-skype"></i> Skype Name: MSNB </p>
                <p><i class="fa  fa-envelope"></i> Skype Email:support@mystudynotebook.com</p>
            </div>

    </div><!--/end row-->
</div>