<!--/container -->
{% load staticfiles %}
<div class="container content-sm">
    <div class="row">
        <div class="col-md-6">
            <div class="headline-left margin-bottom-30">
                <h2 class="headline-brd">How can a Skype session help you?</h2>

                <p>
                    Sometimes you wonder if I could ask this question to someone expert. Those online searching is
                    blowing my head, I need to talk face to face. Our world class experts are here to help you with your
                    questions.
                </p>
                <ul class="list-unstyled lists-v2 margin-bottom-30">
                    <li class="bullet-point"><i class="fa  fa-plus"></i>
                        World class expert from top reputed universities
                    </li>
                    <li class="bullet-point"><i class="fa  fa-plus"></i>
                        No more wasting time on road, join from your home
                    </li>
                    <li class="bullet-point"><i class="fa  fa-plus"></i>
                        Ask question that you could not find answer.
                    </li>

                </ul>
                <h2 class="headline-brd">How to register for a session?</h2>

                <p><i class="fa  fa-envelope"></i> Send us a mail at
                    <span class="color-green">support@mystudynotebook.com</span> or use the <a href="/contactus/"> contact form</a> for the next Skype session
                    We will confirm in return mail if seat is available</p>
            </div>

        </div>
        <div class="col-md-6 md-margin-bottom-50">
            <img class="img-responsive" src="{% static 'img/25.jpg' %}" alt="">
        </div>
    </div><!--/end row-->
</div>