{% extends "common/base.html" %}
{% load staticfiles %}
{% block content %}
    <div class="breadcrumbs-v3 img-v3 text-center">
        <div class="container">
            <h1>We aid students in their higher studies and better future</h1>

            <p>Discover more about us</p>
        </div>
    </div>
    <div class="container content-sm">
        <div class="headline-center margin-bottom-50">
            <h2>WE ARE "MY STUDY NOTEBOOK"</h2>

            <p>
                Inspired by the seemingly easy but yet convoluted process of attaining higher studies,
                we have developed 'My Study Notebook'- a guideline to aid the people of interest with their journey.
                We will guide you with information starting from the decision process, application process and even
                with questions you have after you have arrived in your new school. For the aspirants,
                <strong>here is a short brief about how do we help.</strong>
            </p>
        </div>

        <div class="row content-boxes-v4 content-boxes-v4-sm margin-bottom-30">
            <div class="col-md-4 md-margin-bottom-40">
                <i class="pull-left  icon-question"></i>

                <div class="content-boxes-in-v4">
                    <h2>Decision</h2>

                    <p>
                        Deciding on whether to pursue higher study and even when to go for it may impact your career
                        goal and personal life. We are here to ease the process of decision making for you and want to
                        help you make the right choice.
                    </p>
                </div>
            </div>
            <div class="col-md-4 md-margin-bottom-40">
                <i class="pull-left icon-check"></i>

                <div class="content-boxes-in-v4">
                    <h2>Preparation for Tests</h2>

                    <p>
                        Our website can be a common platform where you can get useful information on how to prepare,
                        which tool to use, what type of score will help you gain admission, information on registration
                        process etc. All these information are scattered elsewhere. Our intent is to provide that
                        information in an organized way so you can take benefit from them.
                    </p>
                </div>
            </div>
            <div class="col-md-4">
                <i class="pull-left icon-screen-desktop"></i>

                <div class="content-boxes-in-v4">
                    <h2>Application</h2>

                    <p>
                        We are here to help you answer not only the questions you face during the application process
                        but also provide tips on how to make the application stronger with a good, presentable statement
                        of purpose, recommendation etc. We are also going to launch a payment system on your behalf so
                        you don't have to take the hassle of paying online through the painful banking system.
                    </p>
                </div>
            </div>
        </div>

        <hr>

        <div class="row content-boxes-v4 content-boxes-v4-sm margin-bottom-30">
            <div class="col-md-4 md-margin-bottom-40">
                <i class="pull-left icon-envelope-letter margin-right-10"></i>

                <div class="content-boxes-in-v4">
                    <h2>Communication</h2>

                    <p>
                        One of the biggest question students have is whether they should contact a professor. Also they
                        hesitate on when and how to approach them. My Study Notebook will provide with the help you need
                        on getting information on that.
                    </p>
                </div>
            </div>
            <div class="col-md-4 md-margin-bottom-40">
                <i class="pull-left  icon-speedometer margin-right-10"></i>

                <div class="content-boxes-in-v4">
                    <h2>Preparing for the big day</h2>

                    <p>
                        Getting admission is supposed to finally relieve you of all the hassles. But the truth is there
                        is another long phase of chores-facing embassy interview, getting visa and I20, paying for the
                        sevis fees and preparing for the long journey ahead including booking air tickets, arranging for
                        a home in abroad etc. Students stumble a lot while they are preparing for the unknown waiting
                        ahead. We can ease that process by proving useful tips, information and personalized skype
                        sessions.
                    </p>
                </div>
            </div>
            <div class="col-md-4">
                <i class="pull-left  icon-emoticon-smile margin-right-10"></i>

                <div class="content-boxes-in-v4">
                    <h2>Life of a grad</h2>

                    <p>
                        As a new graduate student in a foreign country, people have so many questions unanswered which
                        they wish they knew beforehand. During this time of confusion and stress, when students are
                        coping with the homesickness and adjusting to the new environment, we want to be there to help.
                        Our counselors can direct you to solving the problems you are going to face with their knowledge
                        and advice.
                    </p>
                </div>
            </div>
        </div>
        <hr>
<div class="text-center">
        <p><strong>
            As an enthusiastic graduate student, you are not alone in your journey. My Study Notebook is there to help
            you. All you need to do is just ask the question.
        </strong></p>
    </div>
    </div>
{% endblock %}